/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #db9c73;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 5rem;
  margin-right: 5rem;
  padding: 3rem;
  border-radius: 75%;
}

.coffee {
  align-items: stretch;
  max-height: 1rem
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  border-radius: 2rem 2rem 0rem 0rem;
}

.vehicles-container {
  display: flex;
  border-radius: 0%
  flex-grow: 1;
}



h2 {
  align-items: right;
  color: #5a2f13;
  padding-top: 5rem;
}

p {
  align-items: start;
  color: #5a2f13;
  padding-left: 1rem;
  padding-right: 1rem;
}

.read-more {
  margin-top: 1rem;
  padding: 0.5rem;
}

.btn{
  margin-top: 1rem;
  background-color: #3e38bf;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  text-decoration: none;
}

/*
.vehicle-sedan {
  background-color: #3e38bf;
}
*/

.vehicle:nth-child(1) {
  background-color: #ffffff;
  border-radius: 3rem;
  width: 60%;
  max-height: 80%;
  align-items: center;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
